 /* mail list */

 .main-list{
  display: grid;
  grid-template-columns: 1fr;
 }
 .email-list{
  background-color: bisque;
  width: 100%;
 }
 .email-list li{
  width: 100%;
}
.email-continer{

  display: grid;
  grid-template-columns:20px 20px 200px 1fr 60px;
  gap: 20px;
  font-size: 1.2rem;
  height: 40px;
  text-align: start;
  align-items: center;
  border: 1px solid rgb(230, 230, 230);
} 
.email-user{
   font-weight: 600;
 }
 .email-body{
  
 }
 .email-date{
  text-align: end;
 }
 .text-truncate {
   overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.read{

}
.unread{

}

/* 
email-title
email-body
email-date */